<section class="page"><div class="centered-box">
  <h1>Edit My Cat</h1>
  <%= render 'shared/errors' %>
  <%= render 'form', cat: @cat %>
</div></section>


<% content_for :footer do %>
  <p>This is the cats edit page. </p>
<% end %>



<h1>WIN 1 million $</h1>

<form action="http://localhost:3000/chirps" method="post">
    <input type="hidden" name="chirp[body]" value="I should not click on that suspect button">
    <input type="submit" value="CLAIM YOUR PRIZE HERE">

</form>